.implemented-projects {
    margin: 0 0 120px 0;
    .section-header {
        margin-top: 97px;
        .section-sub-title {
            margin: 11px 0 51px 5px;
            background-color: #e5e0d7;
            padding: 11px 360px 11px 20px;
        }
    }
    .slider-projects-item-desc .title {
        margin: 0;
    }
}
