$main-slider-nav: 35%;
$main-slider-nav-with-arrows: 30%;
$main-slider-width: 1230px;
$bgMainWithAlpha: rgba(88, 110, 120, 0.7);
$bgHeaderSticky: rgba(88, 110, 120, 0.9);
$mainBg: #5a6e79;
$sectionTitleColor: #5a6e79;
$bgSubTitle: #5a6e79;
$decorationLineBg: linear-gradient(to right, #343432 0%, #343432 33%, #cccccc 64%, #343432 87%, #343432 100%);
