.for-customers {
    @include xl(padding, 54px 0);
    padding: 85px 0 111px 0;
    background-color: $mainBg;
    .section-header {
        @include xl(margin, 0);
        margin: 0 0 76px 370px;
        .section-title {
            @include xl(margin, 0 0 40px 28px);
            color: #ffffff;
            padding: 0;
        }
    }
    .row {
        align-items: flex-start;
    }
    .col-text {
        @include xl(padding, 0 18px);
        max-width: 450px;
        color: #ffffff;
        &.first-col {
            @include xl(margin, 0);
            margin: 0 0 0 65px;
        }
        &.last-col {
            @include xl(margin, 0);
            margin: 0 100px 0 auto;
        }
        p {
            @include xl(font-size, 14px);
            text-align: left;
            text-indent: 35px;
            font-size: 18px;
            line-height: 26px;
        }
    }
}
