.premium-collections {
    background-color: $mainBg;
    .section-header {
        margin-top: 97px;
        .section-sub-title {
            margin: 0 96px 51px 0;
        }
        .section-title {
            color: #ffffff;
        }
    }
}
