.premium-collections {
    background-color: $mainBg;
    > img {
        @include xl(display, none);
    }
    .section-header {
        @include xl(padding, 20px 0 0 0);
        @include xl(margin, 0);
        margin-top: 97px;
        .section-sub-title {
            @include xl(width, auto);
            @include xl(margin, 0 96px 0 0);
            @include xl(padding, 0 16px 11px 32px);
            margin: 0 96px 51px 0;
        }
        .section-title {
            color: #ffffff;
        }
    }
}
