header {
    @include md(padding, 18px 32px 18px 32px);
    @include md(background-color, rgba(60, 85, 100, .8));
    @include md(border, none);
    box-sizing: border-box;
    position: sticky;
    z-index: 1000;
    top: 0;
    width: 100%;
    padding: 30px 112px 22px;
    transition: top 0.3s, padding 0.3s;
    background-color: $bgMainWithAlpha;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    text-transform: uppercase;
    .col-logo {
        @include md(margin, 0);
        @include md(max-width, 100%);
        @include md(width, 100%);
        @include md(flex-wrap, nowrap);
        justify-content: flex-end;
        align-self: flex-start;
        max-width: 252px;
        margin: 0 28px 0 0;
        img {
            @include md(margin, 0);
            @include md(max-width, 100%);
            @include md(width, 78px);
            max-width: 114px;
            //height: 49px;
            margin: 0 0 9px 0;
            transition: margin 0.3s;
        }
        span {
            @include md(margin, 0 0 0 auto);
            @include md(font-size, 12px);
            @include md(order, 1);
            font-size: 14px;
            margin: 2px 0 0 0;
        }
    }
    .col-socials-menu {
        @include md(display, flex);
        @include md(flex-wrap, wrap);
        flex-grow: 1;
        .socials-line {
            @include md(flex-wrap, nowrap);
            @include md(width, 100%);
            max-height: 100px;
            transition: max-height 0.3s linear;
            .icon-insta {
                margin: 0 41px 0 58px;
            }
            .icon-fb {
                margin: 0 44px 0 0;
            }
            .icon-telegram {
                @include md(width, 18px);
                @include md(height, 16px);
            }
            .icon-viber {
                @include md(margin, 0 9px 0 0);
                @include md(width, 20px);
                @include md(height, 21px);
                margin: 0 40px 0 0;
            }
            .icon-whatsapp {
                @include md(margin, 0 9px 0 0);
                @include md(width, 20px);
                @include md(height, 19px);
                margin: 0 34px 0 0;
            }
            .favorite-box {
                @include md(display, none);
                margin: 0 51px 0 0;
                > a {
                    display: inline-block;
                    margin: 0 21px 0 0;
                    &:hover {
                        text-decoration: underline;
                    }
                    //span {
                    //    display: inline-block;
                    //    vertical-align: middle;
                    //}
                }
            }
            .favorite-box-mobile {
                @include md(display, flex);
                @include md(align-items, center);
                display: none;
                margin: 0 0 0 auto;
                a {
                    margin: 0 0 0 18px;
                    &.icon-map-link {
                        margin: 0 0 0 7px;
                    }
                }
            }
            .phone {
                @include md(font-size, 14px);
                @include md(margin, 0 auto 0 11px);
                margin: 0 66px 0 39px;
            }
            .recall-me {
                @include md(display, none);
                margin: 0 3.5rem 0 0;
                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
            .icon-map {
                width: 21px;
                height: 30px;
            }
            .icon {
                &:hover {
                    fill: #a9b2b6;
                }
            }
            > div {
                &:nth-child(2) {
                    @include md(margin, 0);
                    margin: 0 0 0 auto;
                }
                &:first-child {
                    @include md(display, none);
                }
                &:nth-child(3) {
                    @include md(flex-grow, 1);
                }
            }
        }
        .menu-line {
            @include md(margin, 15px 0);
            order: -1;
            width: 100%;
            margin: 20px 0 0 40px;
            .btn-cost-calculation {
                margin: 0 0 0 62px;
                border: 3px solid #ffffff;
                font-family: "Pragmatica", sans-serif;
                &:hover {
                    border: 3px solid #bdac9a;
                    background: none;
                    color: #ffffff;
                }
            }
            .burger-mob {
                @include md(display, block);
            }
            .search-box {
                @include md(margin, 0 0 0 auto);
                margin: 0 0 0 36px;
            }
            > *:not(a) {
                @include md(display, none);
            }
            >ul {
                flex-grow: 1;
                justify-content: space-between;
                margin: 0;
                padding: 1rem 0 0 0;
                transition: padding 0.3s;
                &.active {
                    display: block;
                    position: fixed;
                    top: 142px;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    background-color: $bgMainWithAlpha;
                    border-bottom-right-radius: 30px;
                    overflow-y: auto;
                    >li {
                        display: block;
                        z-index: 9999;
                        margin: 0 34px;
                        padding: 26px 0 20px;
                        border-top: 1px solid rgba(255, 255, 255, .2);
                    }
                }
                >li {
                    display: inline-block;
                    position: relative;
                    &:hover {
                        .submenu {
                            display: block;
                        }
                    }
                    a {
                        font-family: "Bukvarnaya Bold", serif;
                        color: #fefefe;
                        font-size: 20px;
                        font-weight: 400;
                        position: relative;
                        &:after {
                            content: "";
                            position: absolute;
                            bottom: -1px;
                            left: 0;
                            right: 0;
                            height: 3px;
                            background-color: #fefefe;
                            opacity: 0;
                            transition: all 300ms ease;
                        }
                        &:hover, &.active {
                            &:after {
                                opacity: 1;
                            }
                        }
                        &.active {
                            @include md(font-size, 20px);
                            font-size: 22px;
                        }
                    }
                    .submenu {
                        @include md(display, block);
                        @include md(position, relative);
                        @include md(top, unset);
                        @include md(left, unset);
                        @include md(padding-top, 0);
                        display: none;
                        position: absolute;
                        top: 22px;
                        left: 0;
                        padding-top: 32px;
                        &-box {
                            @include md(padding, 1rem 0 0 0);
                            @include md(flex-wrap, wrap);
                            @include md(border-top, none);
                            @include md(background, none);
                            flex-wrap: nowrap;
                            align-items: flex-start;
                            padding: 1rem 2rem 0;
                            border-top: 1px solid rgba(255, 255, 255, 0.3);
                            background-color: $bgMainWithAlpha;
                            ul {
                                @include md(margin-bottom, 0);
                                & + ul {
                                    @include md(margin, 0 0 0 auto);
                                    margin: 0 0 0 5rem;
                                }
                                li {
                                    @include md(margin, 0);
                                    display: block;
                                    padding: 0 0 .5rem 0;
                                    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                                    & + li {
                                        margin: .5rem 0 0 0;
                                    }
                                    a {
                                        font-weight: 300;
                                        font-family: "Pragmatica", sans-serif;
                                        font-size: 16px;
                                    }
                                    &:last-child {
                                        padding: 0;
                                        border-bottom: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    a {
        color: #ffffff;
        text-decoration: none;
    }
    &.active {
        background-color: $mainBg;
    }
}
header.is-sticky {
    @include md(top, -45px);
    @include md(padding, 18px 32px 0 32px);
    top: -65px;
    .col-socials-menu .menu-line > ul {
        > li .submenu {
            @include md(padding-top, 0);
            @include md(top, 0);
            padding-top: 47px;
            top: 21px;
        }
        &.active {
            top: 49px;
        }
    }
    .socials-line {
        @include md(display, none);
        overflow: hidden;
    }
    .col-socials-menu {
        .menu-line {
            ul {
                padding: 7px 0 0 0;
            }
        }
    }
    .col-logo {
        img {
            @include md(margin, 0);
            margin: 45px 0 0 0;
            max-width: 100px;
        }
    }
}
.first-screen-about {
    margin-top: -150px;
}
.burger-mob {
    display: none;
    position: relative;
    width: 29px;
    height: 25px;
    span {
        display: block;
        position: absolute;
        top: calc(50% - 1px);
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #ffffff;
    }
    &:before, &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #ffffff;
    }
    &:after {
        right: 0;
        bottom: 0;
    }
    &.active {
        span {
            opacity: 0;
            transition: 0.5s;
        }
        &:before {
            top: 11px;
            transform: rotate(45deg);
            transition: 0.4s;
        }
        &:after {
            bottom: 11px;
            transform: rotate(-45deg);
            transition: 0.4s;
        }
    }
}
