header {
    @include sm(padding, 30px 35px 20px);
    box-sizing: border-box;
    width: 100%;
    padding: 30px 112px 20px;
    background-color: $bgMainWithAlpha;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    text-transform: uppercase;
    a {
        color: #ffffff;
        text-decoration: none;
    }
    .col-logo {
        @include sm(justify-content, flex-start);
        @include sm(max-width, 100%);
        justify-content: center;
        max-width: 260px;
        margin: 0 20px 0 0;
        img {
            max-width: 148px;
            margin: 19px 0 0 0;
        }
        span {
            @include sm(font-size, 12px);
            font-size: 16px;
        }
    }
    .col-socials-menu {
        flex-grow: 1;
        .socials-line {
            > div {
                &:nth-child(2) {
                    @include sm(margin, 0);
                    margin: 0 0 0 auto;
                }
                &:first-child {
                    @include sm(display, none);
                }
            }
            .icon-insta {
                margin: 0 41px 0 18px;
            }
            .icon-fb {
                margin: 0 44px 0 0;
            }
            .icon-viber {
                @include sm(margin, 0 11px 0 0);
                margin: 0 40px 0 0;
            }
            .icon-whatsapp {
                @include sm(margin, 0 11px 0 0);
                margin: 0 34px 0 0;
            }
            .favorite-box {
                @include sm(display, none);
                margin: 0 51px 0 0;
                > a {
                    margin: 0 21px 0 0;
                }
            }
            .phone {
                @include sm(margin, 0 0 0 14px);
                margin: 0 66px 0 39px;
            }
            .recall-me {
                @include sm(display, none);
                margin: 0 6.2rem 0 0;
                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
            .icon {
                &:hover {
                    fill: #a9b2b6;
                }
            }
        }
        .menu-line {
            @include sm(display, none);
            margin: 20px 0 0 0;
            ul {
                flex-grow: 1;
                justify-content: space-between;
                margin: 0;
                li {
                    display: inline-block;
                    a {
                        font-family: "Bukvarnaya Bold", serif;
                        color: #fefefe;
                        font-size: 20px;
                        font-weight: 400;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            .btn-cost-calculation {
                margin: 0 0 0 62px;
                border: 3px solid #ffffff;
                font-family: "Pragmatica", sans-serif;
                &:hover {
                    background: none;
                    border: 3px solid #bdac9a;
                    color: #ffffff;
                }
            }
            .search-box {
                margin: 0 0 0 44px;
            }
        }
    }
}
.with-absolute-header {
    header {
        position: absolute;
        z-index: 10;
        top: 0;
        right: 0;
        left: 0;
    }
}
