header {
    @include sm(padding, 18px 30px 18px 32px);
    @include sm(background-color, rgba(90, 110, 121, .8));
    @include sm(border, none);
    box-sizing: border-box;
    z-index: 100;
    width: 100%;
    padding: 30px 112px 20px;
    background-color: $bgMainWithAlpha;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    text-transform: uppercase;
    a {
        color: #ffffff;
        text-decoration: none;
    }
    .col-logo {
        @include sm(margin, 0);
        @include sm(max-width, 100%);
        @include sm(width, 100%);
        @include sm(flex-wrap, nowrap);
        justify-content: center;
        max-width: 260px;
        margin: 0 20px 0 0;
        img {
            @include sm(margin, 0);
            @include sm(max-width, 100%);
            @include sm(width, 78px);
            @include sm(height, 25px);
            max-width: 148px;
            height: 49px;
            margin: 19px 0 0 0;
        }
        span {
            @include sm(margin, 0 0 0 auto);
            @include sm(font-size, 12px);
            @include sm(order, 1);
            font-size: 16px;
        }
    }
    .col-socials-menu {
        @include sm(display, flex);
        @include sm(flex-wrap, wrap);
        flex-grow: 1;
        .socials-line {
            @include sm(flex-wrap, nowrap);
            .icon-insta {
                margin: 0 41px 0 18px;
            }
            .icon-fb {
                margin: 0 44px 0 0;
            }
            .icon-telegram {
                @include sm(width, 18px);
                @include sm(height, 16px);
            }
            .icon-viber {
                @include sm(margin, 0 9px 0 0);
                @include sm(width, 20px);
                @include sm(height, 21px);
                margin: 0 40px 0 0;
            }
            .icon-whatsapp {
                @include sm(margin, 0 9px 0 0);
                @include sm(width, 20px);
                @include sm(height, 19px);
                margin: 0 34px 0 0;
            }
            .favorite-box {
                @include sm(display, none);
                margin: 0 51px 0 0;
                > a {
                    margin: 0 21px 0 0;
                }
            }
            .favorite-box-mobile {
                @include sm(display, block);
                display: none;
                margin: 0 0 0 auto;
                a {
                    margin: 0 0 0 18px;
                }
            }
            .phone {
                @include sm(font-size, 14px);
                @include sm(margin, 0 auto 0 11px);
                margin: 0 66px 0 39px;
            }
            .recall-me {
                @include sm(display, none);
                margin: 0 6.2rem 0 0;
                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
            .icon-map {
                width: 17px;
                height: 23px;
            }
            .icon {
                &:hover {
                    fill: #a9b2b6;
                }
            }
            > div {
                &:nth-child(2) {
                    @include sm(margin, 0);
                    margin: 0 0 0 auto;
                }
                &:first-child {
                    @include sm(display, none);
                }
                &:nth-child(3) {
                    @include sm(flex-grow, 1);
                }
            }
        }
        .menu-line {
            @include sm(margin, 15px 0);
            order: -1;
            width: 100%;
            margin: 20px 0 0 0;
            .btn-cost-calculation {
                margin: 0 0 0 62px;
                border: 3px solid #ffffff;
                font-family: "Pragmatica", sans-serif;
                &:hover {
                    border: 3px solid #bdac9a;
                    background: none;
                    color: #ffffff;
                }
            }
            .burger-mob {
                @include sm(display, block);
            }
            .search-box {
                @include sm(margin, 0 0 0 auto);
                margin: 0 0 0 36px;
            }
            > *:not(a) {
                @include sm(display, none);
            }
            ul {
                flex-grow: 1;
                justify-content: space-between;
                margin: 0;
                padding: 1rem 0 0 0;
                &.active {
                    display: block;
                    position: fixed;
                    top: 142px;
                    right: 0;
                    left: 0;
                    width: 100%;
                    background-color: $mainBg;
                    border-bottom-right-radius: 30px;
                    li {
                        display: block;
                        z-index: 9999;
                        margin: 0 34px;
                        padding: 26px 0 20px;
                        border-top: 1px solid rgba(255, 255, 255, .2);
                    }
                }
                li {
                    display: inline-block;
                    a {
                        font-family: "Bukvarnaya Bold", serif;
                        color: #fefefe;
                        font-size: 20px;
                        font-weight: 400;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}
.with-absolute-header {
    header {
        @include sm(position, relative);
        @include sm(top, unset);
        @include sm(right, unset);
        @include sm(left, unset);
        position: absolute;
        z-index: 100;
        top: 0;
        right: 0;
        left: 0;
        border-radius: 0;
    }
}
header, .with-absolute-header header {
    &.active {
        background-color: $mainBg;
        position: fixed;
        top: 0;
        border-radius: 0;
    }
}
.burger-mob {
    display: none;
    position: relative;
    width: 29px;
    height: 25px;
    span {
        display: block;
        position: absolute;
        top: calc(50% - 2px);
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #ffffff;
    }
    &:before, &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #ffffff;
    }
    &:after {
        right: 0;
        bottom: 0;
    }
    &.active {
        span {
            opacity: 0;
            transition: 0.5s;
        }
        &:before {
            top: 11px;
            transform: rotate(45deg);
            transition: 0.4s;
        }
        &:after {
            bottom: 11px;
            transform: rotate(-45deg);
            transition: 0.4s;
        }
    }
}
