.how-we-work {
    @include md(padding, 46px 0 0 0);
    padding: 94px 0 0 0;
    .row.owl-carousel {
        margin: 0;
        .col-4 {
            margin: 0;
        }
    }
    &-item {
        @include md(margin, 81px 0 0 32px);
        &-desc {
            @include md(margin, 0 0 0 3px);
            @include md(padding, 0 0 40px 0);
            position: relative;
            padding: 95px 0 0 0;
            color: #24262a;
            line-height: 24px;
            &:nth-child(3n+1) {
                @include md(margin, 0);
                margin-top: 62px;
            }
            &-title {
                margin: 0 0 13px 0;
                color: #24262a;
                font-family: "Bukvarnaya Bold", serif;
                font-size: 20px;
                text-transform: uppercase;
            }
            &-number {
                @include md(left, 15%);
                @include md(top, 0);
                position: absolute;
                z-index: -1;
                top: 33%;
                left: 5%;
                color: #ece7e3;
                font-family: "Bukvarnaya Bold", serif;
                font-size: 396px;
                text-transform: uppercase;
                line-height: 220px;
            }
            p {
                @include md(font-size, 14px);
                @include md(margin, 0 0 0 3px);
                font-size: 16px;
                text-align: left;
            }
        }
    }
    .owl-dots {
        @include md(bottom, -20px);
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
        button.owl-dot {
            background-color: #c7c0b6;
            &.active {
                background-color: #5a6e79;
            }
        }
    }
    .section-body {
        @include md(margin, 0 auto 50px);
        max-width: 1100px;
        margin: 0 auto 124px;
        padding: 0 0 22px 0;
        .col-4:nth-child(n + 4) .how-we-work-item .how-we-work-item-desc {
            padding: 65px 0 0 0;
        }
    }
    .section-header {
        margin: 0;
        .section-title {
            @include md(margin, 0 0 32px 0);
            @include md(max-width, 200px);
            max-width: 100%;
        }
    }
}
