.main-slider {
    @include sm(height, 100vh);
    color: #ffffff;
    overflow: hidden;
    &-item {
        position: relative;
        overflow: hidden;
        &-desc {
            @include sm(font-size, 12px);
            @include sm(left, 34px);
            @include sm(line-height, 20px);
            @include sm(top, calc(#{$main-slider-nav} + 180px));
            position: absolute;
            top: calc(#{$main-slider-nav} + 235px);
            right: 0;
            left: 0;
            max-width: #{$main-slider-width};
            line-height: 30px;
            //margin: 0 auto;
            > p {
                @include sm(display, none);
                background-color: $bgMainWithAlpha;
                font-family: Pragmatica, sans-serif;
                margin: 0;
                padding: 38px 32px 38px 28%;
            }
            .btn-main-slider-box {
                @include sm(margin, 65px 0 0 0);
                margin: 65px 0 0 28%;
            }
        }
        img {
            @include sm(height, 100vh);
            @include sm(object-fit, fill);
        }
    }
    &-nav {
        @include sm(width, 100%);
        @include sm(left, 34px);
        @include sm(top, calc(#{$main-slider-nav} + 20px));
        position: absolute;
        z-index: 100;
        top: #{$main-slider-nav};
        right: 0;
        left: 0;
        width: #{$main-slider-width};
        margin: 0 auto;
        &-control {
            @include sm(width, 100%);
            position: relative;
            & + & {
                @include sm(margin, 15px 0 0 0);
                margin: 0 0 0 108px;
            }
            span {
                @include sm(font-size, 30px);
                font-family: "Bukvarnaya Bold", serif;
                font-size: 72px;
                font-weight: 400;
                display: block;
                &:first-child {
                    @include sm(display, none);
                    font-size: 18px;
                    font-weight: 400;
                    text-transform: uppercase;
                }
            }
            &:first-child {
                span {
                    &:first-child {
                        margin: 0 0 0 20px;
                    }
                }
            }
            &.active {
                &:after {
                    @include sm(display, none);
                    content: "";
                    position: absolute;
                    right: 0;
                    bottom: 8px;
                    left: 0;
                    height: 5px;
                    background-color: #ffffff;
                }
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
    a {
        color: #ffffff;
    }
    &.with-arrows {
        .title {
            @include sm(font-size, 26px);
            @include sm(left, 32px);
            @include sm(top, 74px);
            position: absolute;
            z-index: 100;
            top: #{$main-slider-nav-with-arrows};
            right: 0;
            left: 0;
            width: 1000px;
            margin: 0 auto;
            font-size: 31px;
            span {
                @include sm(font-size, 55px);
                @include sm(display, block);
                font-size: 65px;
                font-family: "Bukvarnaya Bold", sans-serif;
            }
        }
        .main-slider-item-desc {
            @include sm(top, 200px);
            @include sm(left, 0);
            @include sm(right, 30px);
            top: calc(#{$main-slider-nav-with-arrows} + 115px);
            max-width: 1300px;
            .btn-main-slider-box {
                @include sm(margin, 35px 0 0 31px);
                @include sm(text-align, left);
                margin: 47px 0 0 28%;
                text-align: right;
            }
            .door-card-slider-text {
                @include sm(padding, 70px 0 38px 31px);
                background-color: $bgMainWithAlpha;
                padding: 70px 0 38px 50%;
                p {
                    @include sm(font-size, 16px);
                    font-size: 20px;
                }
                h1 {
                    @include sm(margin, 0 0 1rem 0);
                    @include sm(font-size, 36px);
                    color: #d0c8bb;
                    font-family: "Bukvarnaya Bold", sans-serif;
                    font-size: 59px;
                    margin: 0 0 2rem 0;
                }
            }
            > p {
                @include sm(font-size, 14px);
                @include sm(display, block);
                @include sm(padding, 23px 56px 26px 30px);
                text-align: left;
                font-size: 16px;
                padding: 38px 56px 38px 36%;
            }
        }
        .owl-dots {
            position: absolute;
            right: 0;
            bottom: 40px;
            left: 0;
            text-align: center;
            button.owl-dot:not(.active) {
                background-color: #ffffff;
            }
        }
        .owl-nav {
            .owl-next, .owl-prev {
                @include sm(background-image, url("../img/slider-nav-mob.png"));
                @include sm(width, 10px);
                @include sm(height, 23px);
                @include sm(top, unset);
                @include sm(bottom, 35px);
            }
        }
    }
    &.door-card-slider {
        .main-slider-item-desc {
            top: calc(30% + 80px);
            max-width: 750px;
        }
        .owl-nav {
            button.owl-prev, button.owl-next {
                @include sm(bottom, 34px);
                @include sm(top, unset);
                top: calc(50% + 35px);
            }
            button.owl-prev {
                @include sm(left, 27px);
            }
            button.owl-next {
                @include sm(right, 27px);
            }
        }
    }
}
.main-slider, .with-arrows, .door-card-gallery {
    position: relative;
    .owl-nav {
        button.owl-prev, button.owl-next {
            position: absolute;
            top: calc(50% + 15px);
            width: 23px;
            height: 53px;
            background-image: url("../img/main-slider-arrow.png");
        }
        button.owl-prev {
            left: 12%;
        }
        button.owl-next {
            right: 15%;
            transform: rotate(180deg);
        }
    }
}
.index-page {
    .main-slider {
        @include sm(margin, -142px 0 0 0);
        margin: -146px 0 0 0;
    }
}
