.main-slider {
    color: #ffffff;
    overflow: hidden;
    &-item {
        position: relative;
        overflow: hidden;
        &-desc {
            @include sm(font-size, 12px);
            @include sm(left, 34px);
            @include sm(line-height, 20px);
            @include sm(top, calc(#{$main-slider-nav} + 180px));
            position: absolute;
            top: calc(#{$main-slider-nav} + 235px);
            //right: 0;
            //left: 0;
            max-width: 1280px;
            line-height: 30px;
            margin: 0 auto;
            &-mob {
                font-size: 12px;
                color: #fefefe;
                margin: 48px 0 0 0;
            }
            > p {
                @include sm(display, none);
                font-family: Pragmatica, sans-serif;
                margin: 0;
                padding: 38px 32px 38px 0;
                position: relative;
                &:after {
                    content: "";
                    position: absolute;
                    background-color: $bgMainWithAlpha;
                    top: 0;
                    bottom: 0;
                    left: -40%;
                    right: 0;
                    z-index: -1;
                }
            }
            .btn-main-slider-box {
                @include sm(margin, 50px 0 0 0);
                margin: 65px 0 0 0;
            }
        }
        img {
            @include sm(object-fit, fill);
            height: 100vh;
        }
    }
    &-nav {
        @include xxl(left, 30px);
        @include xxl(right, 30px);
        @include sm(width, 100%);
        @include sm(left, 34px);
        @include sm(top, calc(#{$main-slider-nav} + 20px));
        position: absolute;
        z-index: 100;
        top: #{$main-slider-nav};
        right: 0;
        left: 0;
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        &-control {
            @include sm(width, 100%);
            position: relative;
            & + & {
                @include sm(margin, 15px 0 0 0);
                margin: 0 0 0 108px;
            }
            span {
                @include sm(font-size, 30px);
                @include xxl(font-size, 50px);
                font-family: "Bukvarnaya Bold", serif;
                font-size: 72px;
                font-weight: 400;
                display: block;
                text-transform: uppercase;
                &:first-child {
                    @include sm(display, none);
                    font-size: 18px;
                    font-family: "Pragmatica", sans-serif;
                }
                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 2px;
                    height: 6px;
                    background-color: #fff;
                    opacity: 0;
                    transition: all 200ms ease;
                }
            }
            &:first-child {
                span {
                    &:first-child {
                        margin: 0 0 0 20px;
                        font-family: "Pragmatica", sans-serif;
                    }
                }
            }
            &.active {
                span {
                    &:last-child {
                        position: relative;
                        &:after {
                            opacity: 1;
                        }
                    }
                }
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
    a {
        color: #ffffff;
    }
    &.with-arrows {
        .title {
            @include sm(font-size, 26px);
            @include sm(left, 32px);
            @include sm(top, 74px);
            position: absolute;
            z-index: 100;
            top: #{$main-slider-nav-with-arrows};
            right: 0;
            left: 0;
            width: 1000px;
            margin: 0 auto;
            font-size: 31px;
            span {
                @include sm(font-size, 55px);
                @include sm(display, block);
                font-size: 65px;
                text-transform: uppercase;
                font-family: "Bukvarnaya Bold", sans-serif;
            }
        }
        .main-slider-item-desc {
            @include sm(top, 200px);
            @include sm(left, 0);
            @include sm(right, 30px);
            top: calc(#{$main-slider-nav-with-arrows} + 115px);
            max-width: 1300px;
            .btn-main-slider-box {
                @include sm(margin, 35px 0 0 31px);
                @include sm(text-align, left);
                margin: 47px 0 0 28%;
                text-align: right;
            }
            .door-card-slider-text {
                @include sm(padding, 70px 0 38px 31px);
                background-color: $bgMainWithAlpha;
                padding: 70px 0 38px 50%;
                p {
                    @include sm(font-size, 16px);
                    font-size: 20px;
                }
                h1 {
                    @include sm(margin, 0 0 1rem 0);
                    @include sm(font-size, 36px);
                    color: #d0c8bb;
                    font-family: "Bukvarnaya Bold", sans-serif;
                    font-size: 59px;
                    margin: 0 0 2rem 0;
                }
            }
            > p {
                @include sm(font-size, 14px);
                @include sm(display, block);
                @include sm(padding, 23px 56px 26px 30px);
                text-align: left;
                font-size: 16px;
                padding: 38px 56px 38px 36%;
            }
        }
        .owl-dots {
            position: absolute;
            right: 0;
            bottom: 40px;
            left: 0;
            text-align: center;
            button.owl-dot:not(.active) {
                background-color: #ffffff;
            }
        }
        .owl-nav {
            .owl-next, .owl-prev {
                @include sm(background-image, url("../img/slider-nav-mob.png"));
                @include sm(width, 10px);
                @include sm(height, 23px);
                @include sm(top, unset);
                @include sm(bottom, 35px);
                opacity: .9;
            }
        }
    }
    &.door-card-slider {
        .main-slider-item-desc {
            top: 214px;
            max-width: 750px;
            p {
                margin: 0;
            }
        }
        .owl-nav {
            button.owl-prev, button.owl-next {
                @include sm(bottom, 34px);
                @include sm(top, unset);
                top: calc(50% - 25px);
            }
            button.owl-prev {
                @include sm(left, 27px);
                left: 170px;
            }
            button.owl-next {
                @include sm(right, 27px);
                right: 170px;
            }
        }
    }
    &.rybrika-slider {
        @include sm(margin-top, -100px);
        &.with-arrows {
            .main-slider-item-desc {
                @include sm(top, 320px);
                right: 43px;
                > p {
                    @include sm(padding, 23px 18px 26px 30px);
                    padding: 38px 56px 38px 32.5%;
                }
            }
            .title {
                @include sm(top, 200px);
            }
        }
        img {
            @include sm(height, 100vh);
            height: auto;
        }
        .title {
            top: 37%;
            left: 22%;
            width: 100%;
        }
        .main-slider-item-desc {
            top: 47%;
            right: 43px;
        }
        .btn-box {
            .btn {
                border-radius: 25px;
            }
        }
        .owl-dots {
            @include sm(bottom, 30px);
        }
        .owl-nav {
            button.owl-prev, button.owl-next {
                top: calc(50% + 10px);
            }
            button.owl-prev {
                @include sm(left, 27px);
                @include sm(top, unset);
                @include sm(bottom, 27px);
                left: 237px;
            }
            button.owl-next {
                @include sm(top, unset);
                @include sm(bottom, 27px);
                @include sm(right, 27px);
                right: 237px;
            }
        }
    }
}
.main-slider, .with-arrows, .door-card-gallery {
    position: relative;
    .owl-nav {
        button.owl-prev, button.owl-next {
            position: absolute;
            top: calc(50% + 15px);
            width: 23px;
            height: 53px;
            background-image: url("../img/main-slider-arrow.png");
            opacity: .9;
        }
        button.owl-prev {
            left: 12%;
        }
        button.owl-next {
            right: 15%;
            transform: rotate(180deg);
        }
    }
}
.index-page {
    .main-slider {
        @include md(margin, -154px 0 0 0);
        margin: -146px 0 0 0;
    }
}
