.about-text-first-screen {
    @include sm(display, none);
    position: absolute;
    top: 357px;
    right: 20%;
    .btn-box {
        text-align: right;
        .btn {
            border-radius: 25px;
            color: #ffffff;
        }
    }
}
.about-text {
    .section-sub-title {
        padding: 11px 33px 11px 42%;
        text-transform: uppercase;
    }
    &-seo {
        @include sm(margin, 25px 20px 20px 20px);
        max-width: 1233px;
        color: #444444;
        margin: 76px 0 61px 13.4%;
        p {
            @include sm(font-size, 16px);
            font-size: 20px;
            line-height: 25px;
            text-align: left;
        }
    }
}
.video {
    padding: 2rem 0 0 0;
    background-color: #6a8692;
}
.about-company {
    .step-item {
        position: relative;
        margin: 127px 0 0 0;
        background-color: #6a8692;
        &:before {
            content: "";
            position: absolute;
            top: -45px;
            width: 100%;
            height: 45px;
            background-color: $mainBg;
        }
        &-info {
            background-repeat: no-repeat;
            &-title {
                align-items: flex-start;
            }
        }
        &:last-child {
            margin: 127px 0;
        }
    }
}
.page-about {
    .authors-slider {
        @include sm(margin, 52px 0 80px);
        margin: 52px 0;
        .owl-nav {
            button.owl-prev, button.owl-next {
                top: calc(50% - 80px);
                width: 23px;
                height: 53px;
                background-image: url("../img/slider-nav-authors-2.png");
            }
            button.owl-prev {
                left: -40px;
            }
            button.owl-next {
                right: -40px;
                transform: rotate(180deg);
            }
        }
        .owl-dots {
            @include sm(bottom, -40px);
        }
    }
}
