.contacts {
    &.sub-page {
        background-position: center top;
        padding: 0 0 250px 0;
    }
    .first-screen-text {
        .text {
            @include xl(margin, -150px 0 0 0);
            @include xl(padding-top, 50vh);
            //align-items: center;
            margin: -150px 0 0 auto;
            padding-top: 20%;
            .info {
                @include xl(display, none);
                max-width: calc(1020px - 22%);
                padding: 24px 23px 26px 22%;
            }
            .btn-box {
                @include xl(margin, 37px 0 0 37px);
                max-width: 100%;
                margin: 0 0 0 37px;
                .btn {
                    margin: 0;
                }
            }
        }
        h1 {
            @include xl(font-size, 30px);
        }
    }
    &-text {
        .section-sub-title {
            padding: 11px 31px 11px 22.3%;
            &.fabrics {
                padding: 11px 31px 11px 33.3%;
            }
        }
        .container, .container .row, .container .row [class*=col-] {
            @include xl(margin, 0);
            @include xl(padding, 0);
            @include xl(width, 100%);
        }
    }
}
.contact-item {
    margin: 30px 0;
    &:last-child {
        @include xl(margin, 53px 0 0 0);
        margin: 30px 0 85px 0;
    }
    .title {
        color: #575757;
        font-family: "Bukvarnaya Bold", sans-serif;
        margin: 0 0 15px 0;
    }
    &-text {
        @include xl(padding, 0 31px);
        color: #1f1f1f;
        font-size: 18px;
        padding: 0 0 0 89px;
        p {
            @include xl(font-size, 14px);
        }
        a {
            color: #1f1f1f;
        }
    }
}
