.contacts {
    @include sm(min-height, 670px);
    &.sub-page {
        background-position: center top;
        padding: 0 0 250px 0;
    }
    .first-screen-text {
        .text {
            @include sm(margin, 50% 0 0 0);
            align-items: center;
            margin: 150px 0 0 auto;
            .info {
                @include sm(display, none);
                max-width: calc(1020px - 22%);
                padding: 24px 23px 26px 22%;
            }
            .btn-box {
                @include sm(margin, 37px 0 0 37px);
                max-width: 100%;
                margin: 0 0 0 37px;
                .btn {
                    margin: 0;
                }
            }
        }
        h1 {
            @include sm(font-size, 30px);
        }
    }
    &-text {
        .section-sub-title {
            padding: 11px 31px 11px 22.3%;
            &.fabrics {
                padding: 11px 31px 11px 33.3%;
            }
        }
        .container, .container .row, .container .row [class*=col-] {
            @include sm(margin, 0);
            @include sm(padding, 0);
            @include sm(width, 100%);
        }
    }
}
.contact-item {
    margin: 53px 0;
    &:last-child {
        @include sm(margin, 53px 0 0 0);
        margin: 53px 0 85px 0;
    }
    .title {
        color: #575757;
        font-family: "Bukvarnaya Bold", sans-serif;
        margin: 0 0 15px 0;
    }
    &-text {
        @include sm(padding, 0 0 0 31px);
        color: #1f1f1f;
        font-size: 18px;
        padding: 0 0 0 89px;
        p {
            @include sm(font-size, 14px);
        }
        a {
            color: #1f1f1f;
        }
    }
}
