.for-clients {
    padding: 0 0 207px 0;
    .first-screen-text {
        .text {
            @include xl(margin, 0);
            margin: -145px 0 50px auto;
            padding-top: 20%;
            h1 {
                @include xl(font-size, 30px);
                @include xl(padding, 0 0 0 31px);
                @include xl(margin, 197px 0 0 0);
                padding: 0 0 0 20%;
            }
            .btn-box {
                @include xl(padding, 0 0 0 35px);
                margin: 20px 0 0 0;
                padding: 0 0 0 20%;
            }
        }
    }
    &.sub-page {
        @include xl(margin, -145px 0 0 0);
        background-position: center top;
    }
}
