.door-card-header {
    .section-sub-title {
        @include xl(padding, 16px 65px 14px 32px);
        @include xl(box-sizing, border-box);
        @include xl(margin-right, 0);
        @include xl(width, 100%);
        font-size: 18px;
        padding: 16px 65px 14px 14%;
        span {
            @include xl(font-size, 14px);
            @include xl(display, block);
            & + span {
                @include xl(margin, 0);
                margin: 0 0 0 .8rem;
            }
        }
    }
}
.door-card-gallery {
    line-height: 0;
    .icon-zoom-in {
        position: absolute;
        right: 2rem;
        bottom: 2rem;
        fill: $mainBg;
        &:hover {
            cursor: pointer;
        }
    }
    &-item {
        >a {
            display: block;
        }
    }
    .owl-nav {
        button.owl-prev {
            left: 14px;
        }
        button.owl-next {
            right: 14px;
        }
        button.owl-prev, button.owl-next {
            @include xl(width, 13px);
            @include xl(height, 30px);
            @include xl(top, 50%);
            @include xl(background-image, url("../img/door-gallery-nav-mob.png"));
            top: calc(50% - 12px);
        }
    }
}
.favorite-action {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 999;
    .icon-favorite, .icon-favorite-active {
        width: 24px;
        height: 22px;
        fill: $mainBg;
        &:hover {
            cursor: pointer;
        }
    }
}
.door-card-info {
    @include xl(margin, 20px 0 0 0);
    margin: 44px 3rem 0 0;
    .tabs {
        @include xl(margin, 18px 0 0 0);
    }
    .btn-buy-box {
        @include xl(text-align, center);
        @include xl(margin, 23px 0 0 0);
    }
}
.door-card-gallery-box {
    @include xl(margin, 0);
    max-width: 639px;
    margin: 0 0 0 6rem;
    position: relative;
    .door-card-price-box {
        @include xl(flex-wrap, nowrap);
        @include xl(padding, 20px 27px 20px 27px);
        border-radius: 0 0 30px;
        padding: 20px 43px 20px 32px;
        background-color: #5a6e79;
        color: #ffffff;
        .name {
            margin: 0 auto;
        }
        .price {
            @include xl(order, 1);
            @include xl(margin, 9px 0 0 0);
        }
        .price-name-box {
            @include xl(flex-grow, 0);
            flex-grow: 1;
        }
        .price, .name {
            @include xl(width, 100%);
            @include xl(font-size, 15px);
            font-size: 24px;
        }
        .btn-buy {
            @include xl(border-radius, 15px);
            @include xl(margin, 0 0 0 auto);
            padding: 8px 23px 5px;
            border-color: #ffffff;
        }
    }
}
.door-card-options {
    @include xl(margin, 1.7rem .5rem 0);
    margin: 1.7rem 2rem 0;
    &-item {
        margin: 0 0 16px 0;
        padding: 0 1rem;
        text-align: center;
        &.active, &:hover {
            cursor: pointer;
            .name {
                transition: all 300ms ease;
                background-color: $mainBg;
                color: #ffffff;
            }
        }
        .name {
            padding: 12px 20px;
            color: #403f3d;
        }
        .img {
            line-height: 0;
        }
    }
    .row > .col-3 {
        @include size-xl(6);
    }
}
.tabs-flex-column {
    align-items: flex-start;
    height: 100%;
    .tabs-custom {
        margin: auto 0 0 0;
    }
}
.door-card-tabs-custom {
    @include xl(margin, 22px 0 25px 0);
    @include xl(padding, 47px 32px 73px);
    position: relative;
    overflow: hidden;
    margin: 2rem 0 3rem 6rem;
    padding: 45px 98px 83px 114px;
    background-color: #e5e1d8;
    &:hover {
        cursor: default;
    }
    .decoration-line {
        position: absolute;
        z-index: 100;
        right: 0;
        bottom: 33px;
        left: 0;
    }
    &-item {
        display: none;
        &:first-child {
            display: block;
        }
    }
    p {
        @include xl(font-size, 14px);
    }
}
.related-products {
    @include xl(margin, 27px 0 25px 0);
    margin: 63px 0 79px 0;
    &-title {
        @include xl(font-size, 28px);
        font-family: "Bukvarnaya Bold", sans-serif;
        font-size: 48px;
        color: $mainBg;
    }
    .doors-cards {
        margin: 0;
        &-item {
            @include xl(margin, 0);
            position: relative;
            &:nth-child(n + 2) {
                @include xl(margin, 30px 0 0 0);
            }
        }
    }
}

.colors {
    margin: 42px 0;
    .col-2 {
        @include size-xl(6);
    }
    &-col {
        & + & {
            margin: 0 0 0 15px;
        }
        &:nth-child(n + 4) {
            @include xl(margin-top, 15px);
        }
        &:nth-child(3n) + & {
            @include xl(margin-left, 0);
        }
        &-item {
            justify-content: center;
            width: 96px;
            height: 90px;
            & + & {
                margin: 15px 0 0 0;
            }
            &:hover {
                cursor: pointer;
            }
            .label {
                margin: 0 0 9px 0;
                font-size: 16px;
                position: absolute;
            }
        }
    }
}

.collection-pagination {
    @include xl(margin, 0);
    @include xl(background, none);
    @include xl(padding, 0);
    position: relative;
    margin: 0 11rem 0 0;
    padding: 25px 0;
    background-color: $mainBg;
    color: #ffffff;
    font-size: 24px;
    .decoration-line {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
    }
    &.hovered {
        &:after {
            @include xl(display, none);
            opacity: 1;
        }
    }
    .title {
        @include xl(background-color, $mainBg);
        @include xl(padding, 22px 0 12px 31px);
        @include xl(text-align, left);
        @include xl(margin, 0 33px 0 0);
        @include xl(position, relative);
        @include xl(font-size, 18px);
        margin: 0 0 0 4rem;
        text-align: center;
        &:after {
            @include xl(visibility, visible);
            @include xl(opacity, 1);
            @include xl(bottom, -4px);
            visibility: hidden;
        }
    }
    .row, [class*=col-], .container-full {
        @include xl(margin, 0);
        @include xl(padding, 0);
        @include xl(width, 100%);
    }
}
.next-prev-arrows {
    @include xl(color, #5a6e79);
    @include xl(margin, 33px 0 0 0);
    @include xl(padding, 0 28px);
    font-size: 18px;
    justify-content: space-between;
    &:hover {
        cursor: default;
    }
    .next-arrow, .prev-arrow {
        @include xl(width, 10px);
        @include xl(height, 23px);
        @include xl(background-image, url("../img/next-prev-arrow-grey.png"));
        display: inline-block;
        width: 17px;
        height: 40px;
        background-image: url("../img/next-prev-arrow.png");
        opacity: .9;
    }
    .prev-arrow {
        @include xl(margin, 0);
        margin: 0 2rem 0 0;
        transform: rotate(180deg);
    }
}
.options {
    @include xl(margin, 21px 0 0 0);
    @include xl(padding, 29px 30px);
    @include xl(font-size, 15px);
    margin: 24px 0 0 0;
    padding: 35px 119px 35px 96px;
    color: #3c3c3c;
    background-color: rgba(227, 227, 219, 0.5);
    font-size: 17px;
    &-item {
        margin: 10px 0 0 0;
        &-value {
            margin: 0 0 0 auto;
        }
        &:nth-child(4n) {
            margin: 30px 0 0 0;
        }
    }
}
.btn-buy-box {
    text-align: right;
    .btn {
        display: inline-block;
        width: 239px;
        text-align: center;
        border: 3px solid #5b6e7c;
        color: #5b6e7c;
    }
}
.finishing-options {
    @include xl(margin, 30px 0 15px);
    margin: 28px 0 0 0;
    .row {
        //@include xl(margin-bottom, 1.2rem);
        margin-bottom: 1.2rem;
        .col-2 {
            @include size-xl(4);
            @include size-xl(4);
            position: relative;
            .placeholder-texture {
                @include xl(display, none);
            }
            &:nth-child(n+4) {
                img {
                    @include xl(margin-top, 1.2rem);
                }
            }
        }
    }
    .title {
        @include xl(text-align, left);
        text-align: right;
        display: block;
        font-size: 20px;
        margin: 0 0 15px 0;
    }
    &-item {
        @include xl(margin, 0 0 12px 0);
        @include xl(width, 100px);
        @include xl(height, 100px);
        min-width: 80px;
        min-height: 80px;
        margin: 0 0 25px 0;
        & + & {
            @include xl(margin, 0 0 12px 12px);
            margin: 0 0 25px 2%;
        }
        &:nth-child(7n) {
            @include xl(margin, 0 0 12px 12px);
            margin: 0 0 25px 0;
        }
        &:nth-child(3n) + & {
            @include xl(margin, 0 0 12px 0);
        }
    }
    .label {
        margin: 0 0 9px;
        font-size: 16px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
    }
}
.flex-column {
    .tabs-custom {
        margin: auto 0 0 0;
    }
}
.another-projects-in-collection {
    @include xl(margin, 27px auto 30px);
    max-width: 1170px;
    margin: 44px auto 49px;
    .row, [class*=col-], .container {
        @include xl(margin, 0);
        @include xl(padding, 0);
        @include xl(width, 100%);
    }
    .title {
        @include xl(font-size, 18px);
        @include xl(padding, 16px 0 16px 31px);
        @include xl(margin, 0 35px 0 0);
        position: relative;
        overflow: hidden;
        padding: 26px 99px 26px;
        background-color: $mainBg;
        color: #ffffff;
        font-size: 20px;
    }
    .decoration-line {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .doors-cards {
        @include xl(margin, 19px 20px 0 20px);
        justify-content: space-between;
        margin: 30px 0 0 0;
        max-width: unset;
        &-item {
            @include xl(width, 100%);
            @include xl(overflow, hidden);
            width: 32%;
            margin: 0 0 20px 0;
            &:nth-child(n + 2) {
                @include xl(margin, 27px 0 0 0);
            }
            &-info {
                padding: 24px 15px;
            }
            > a {
                width: 100%;
            }
        }
    }
}
.doors-cards {
    &-item {
        overflow: hidden;
    }
}
.door-cards-slider {
    .owl-carousel {
        .owl-nav {
            .owl-prev, .owl-next {
                @include xl(background-image, url("../img/door-gallery-nav-mob.png"));
                @include xl(width, 13px);
                @include xl(height, 30px);
                @include xl(top, 40%);
                opacity: .9;
            }
            .owl-prev {
                @include xl(left, 16px);
                left: 2rem;
            }
            .owl-next {
                @include xl(right, 16px);
                right: 2rem;
            }
        }
    }
    .slider-projects-item-desc:after {
        @include xl(border-radius, 0);
    }
}
.door-card-slider {
    @include xl(margin-top, -146px);
    &.with-arrows {
        .main-slider-item-desc {
            @include xl(top, 316px);
            @include xl(right, 44px);
        }
    }
    .owl-carousel {
        img {
            height: auto;
        }
    }
}
.door-card.first-screen.not-opacity {
    header {
        @include xl(background-color, $mainBg);
    }
}
.lb-nav a.lb-next {
    @include xl(background, url('../img/door-gallery-nav-mob-next.png') right 48% no-repeat);
    @include xl(right, 10px);
    background: url('../img/main-slider-arrow-next.png') right 48% no-repeat;
    opacity: .9;
}
.lb-nav a.lb-prev {
    @include xl(background, url('../img/door-gallery-nav-mob.png') left 48% no-repeat);
    @include xl(left, 10px);
    background: url('../img/main-slider-arrow.png') left 48% no-repeat;
    opacity: .9;
}
