.door-card-header {
    .section-sub-title {
        @include sm(padding, 16px 65px 14px 32px);
        font-size: 18px;
        padding: 16px 65px 14px 12.5%;
        span {
            @include sm(font-size, 14px);
            @include sm(display, block);
        }
    }
}
.door-card-gallery {
    line-height: 0;
    .owl-nav {
        button.owl-prev {
            left: 14px;
        }
        button.owl-next {
            right: 14px;
        }
        button.owl-prev, button.owl-next {
            @include sm(width, 13px);
            @include sm(height, 30px);
            @include sm(top, 50%);
            @include sm(background-image, url("../img/door-gallery-nav-mob.png"));
            top: calc(50% - 12px);
        }
    }
}
.door-card-info {
    @include sm(margin, 20px 0 0 0);
    margin: 44px 0 0 0;
    .tabs {
        @include sm(margin, 18px 0 0 0);
    }
    .btn-buy-box {
        @include sm(text-align, center);
        @include sm(margin, 23px 0 0 0);
    }
}
.door-card-gallery-box {
    @include sm(margin, 0);
    margin: 0 0 0 4rem;
    .door-card-price-box {
        @include sm(flex-wrap, nowrap);
        @include sm(padding, 20px 27px 20px 27px);
        border-radius: 0 0 30px;
        padding: 20px 43px 20px 32px;
        background-color: #5a6e79;
        color: #ffffff;
        .name {
            margin: 0 auto;
        }
        .price {
            @include sm(order, 1);
            @include sm(margin, 9px 0 0 0);
        }
        .price-name-box {
            @include sm(flex-grow, 0);
            flex-grow: 1;
        }
        .price, .name {
            @include sm(width, 100%);
            @include sm(font-size, 15px);
            font-size: 24px;
        }
        .btn-buy {
            @include sm(border-radius, 15px);
            padding: 8px 23px 5px;
            border-color: #ffffff;
        }
    }
}
.door-card-options {
    margin: 1.7rem 2rem 0;
    &-item {
        margin: 0 0 16px 0;
        padding: 0 1rem;
        text-align: center;
        &.active, &:hover {
            cursor: pointer;
            .name {
                transition: all 300ms ease;
                background-color: $mainBg;
                color: #ffffff;
            }
        }
        .name {
            padding: 12px 20px;
            color: #403f3d;
        }
        .img {
            line-height: 0;
        }
    }
}
.tabs-flex-column {
    align-items: flex-start;
    height: 100%;
    .tabs-custom {
        margin: auto 0 0 0;
    }
}
.door-card-tabs-custom {
    @include sm(margin, 22px 0 25px 0);
    @include sm(padding, 47px 32px 73px);
    position: relative;
    overflow: hidden;
    margin: 2rem 0 3rem 4rem;
    padding: 45px 98px 83px 114px;
    background-color: #e5e1d8;
    &:hover {
        cursor: default;
    }
    .decoration-line {
        position: absolute;
        z-index: 100;
        right: 0;
        bottom: 33px;
        left: 0;
    }
    &-item {
        display: none;
        &:first-child {
            display: block;
        }
    }
    p {
        @include sm(font-size, 14px);
    }
}
.related-products {
    @include sm(margin, 27px 0 25px 0);
    margin: 63px 0 79px 0;
    &-title {
        @include sm(font-size, 28px);
        font-family: "Bukvarnaya Bold", sans-serif;
        font-size: 48px;
        color: $mainBg;
    }
    .doors-cards {
        margin: 0;
        &-item {
            @include sm(margin, 0);
            &:nth-child(n + 2) {
                @include sm(margin, 30px 0 0 0);
            }
        }
    }
}

.colors {
    margin: 51px 0;
    &-col {
        & + & {
            margin: 0 0 0 15px;
        }
        &:nth-child(n + 4) {
            @include sm(margin-top, 15px);
        }
        &:nth-child(3n) + & {
            @include sm(margin-left, 0);
        }
        &-item {
            justify-content: center;
            width: 96px;
            height: 90px;
            & + & {
                margin: 15px 0 0 0;
            }
            &:hover {
                cursor: pointer;
            }
            .label {
                margin: 0 0 9px 0;
                font-size: 16px;
                font-weight: 700;
            }
        }
    }
}

.collection-pagination {
    @include sm(margin, 0);
    @include sm(background, none);
    @include sm(padding, 0);
    position: relative;
    margin: 0 11rem 0 0;
    padding: 25px 0;
    background-color: $mainBg;
    color: #ffffff;
    font-size: 24px;
    .decoration-line {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
    }
    &.hovered {
        &:after {
            @include sm(display, none);
            opacity: 1;
        }
    }
    .title {
        @include sm(background-color, $mainBg);
        @include sm(padding, 22px 0 12px 31px);
        @include sm(text-align, left);
        @include sm(margin, 0 33px 0 0);
        margin: 0 0 0 4rem;
        text-align: center;
        &:after {
            @include sm(visibility, visible);
            @include sm(opacity, 1);
            @include sm(bottom, -4px);
            visibility: hidden;
        }
    }
    .row, [class*=col-], .container-full {
        @include sm(margin, 0);
        @include sm(padding, 0);
        @include sm(width, 100%);
    }
}
.next-prev-arrows {
    @include sm(color, #5a6e79);
    @include sm(margin, 33px 0 0 0);
    @include sm(padding, 0 28px);
    font-size: 18px;
    justify-content: space-between;
    &:hover {
        cursor: default;
    }
    .next-arrow, .prev-arrow {
        @include sm(width, 10px);
        @include sm(height, 23px);
        @include sm(background-image, url("../img/next-prev-arrow-grey.png"));
        display: inline-block;
        width: 17px;
        height: 40px;
        background-image: url("../img/next-prev-arrow.png");
    }
    .prev-arrow {
        @include sm(margin, 0);
        margin: 0 2rem 0 0;
        transform: rotate(180deg);
    }
}
.options {
    @include sm(margin, 21px 0 0 0);
    @include sm(padding, 29px 30px);
    @include sm(font-size, 15px);
    margin: 38px 0 0 0;
    padding: 39px 119px 39px 96px;
    color: #3c3c3c;
    background-color: rgba(227, 227, 219, 0.5);
    font-size: 17px;
    &-item {
        margin: 10px 0 0 0;
        &-value {
            margin: 0 0 0 auto;
        }
        &:nth-child(4n) {
            margin: 30px 0 0 0;
        }
    }
}
.btn-buy-box {
    text-align: right;
    .btn {
        display: inline-block;
        width: 239px;
        text-align: center;
        border: 3px solid #5b6e7c;
        color: #5b6e7c;
    }
}
.finishing-options {
    margin: 30px 0 0 0;
    .title {
        @include sm(text-align, left);
        text-align: right;
        display: block;
        font-size: 20px;
        margin: 0 0 15px 0;
    }
    &-item {
        @include sm(margin, 0 0 12px 0);
        @include sm(width, 105px);
        @include sm(height, 101px);
        width: 103px;
        height: 97px;
        margin: 0 0 29px 0;
        & + & {
            @include sm(margin, 0 0 12px 12px);
            margin: 0 0 29px 29px;
        }
        &:nth-child(7n) {
            @include sm(margin, 0 0 12px 12px);
            margin: 0 0 29px 0;
        }
        &:nth-child(3n) + & {
            @include sm(margin, 0 0 12px 0);
        }
    }
}
.flex-column {
    .tabs-custom {
        margin: auto 0 0 0;
    }
}
.another-projects-in-collection {
    @include sm(margin, 27px auto 30px);
    max-width: 1170px;
    margin: 44px auto 69px;
    .row, [class*=col-], .container {
        @include sm(margin, 0);
        @include sm(padding, 0);
        @include sm(width, 100%);
    }
    .title {
        @include sm(font-size, 18px);
        @include sm(padding, 16px 0 16px 31px);
        @include sm(margin, 0 35px 0 0);
        position: relative;
        overflow: hidden;
        padding: 26px 99px 26px;
        background-color: $mainBg;
        color: #ffffff;
        font-size: 20px;
    }
    .decoration-line {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .doors-cards {
        @include sm(margin, 19px 20px 0 20px);
        justify-content: space-between;
        margin: 30px 0 0 0;
        &-item {
            @include sm(width, 100%);
            width: 32%;
            margin: 0;
            &:nth-child(n + 2) {
                @include sm(margin, 27px 0 0 0);
            }
            &-info {
                padding: 24px 15px;
            }
        }
    }
}
.door-cards-slider {
    .owl-carousel {
        .owl-nav {
            .owl-prev, .owl-next {
                @include sm(background-image, url("../img/door-gallery-nav-mob.png"));
                @include sm(width, 13px);
                @include sm(height, 30px);
                @include sm(top, 40%);
            }
            .owl-prev {
                @include sm(left, 16px);
            }
            .owl-next {
                @include sm(right, 16px);
            }
        }
    }
    .slider-projects-item-desc:after {
        border-radius: 0;
    }
}
