.interior-h1 {
    @include xl(margin, 150px 0 0 0);
    margin: 108px 0 0 0;
    h1 {
        @include xl(font-size, 30px);
    }
}
.interior {
    //@include xl(height, 100vh);
    .text {
        @include xl(margin, 0);
        @include xl(width, auto);
        @include xl(background, none);
        @include xl(padding, 101px 0 60px 0);
        box-sizing: border-box;
        width: 407px;
        margin: 98px 0 0 0;
        padding: 57px 30px 58px 44px;
        background-color: rgba(90, 110, 121, 0.6);
        font-size: 18px;
        p {
            @include xl(display, none);
            text-align: left;
            line-height: 26px;
            margin: 0;
        }
        .btn {
            @include xl(margin, 0);
            margin: 37px 0 0 0;
        }
    }
}
.sub-page.interior {
    @include xl(margin, -150px 0 0 0);
    @include xl(padding-top, 32%);
    padding: 145px 0 0 0;
    margin-top: -150px;
    background-position: center center;
}
.interior-projects {
    max-width: 1458px;
    margin: 24px auto 0;
    &-title {
        position: relative;
        padding: 28px 0;
        font-size: 18px;
        color: #ffffff;
        text-align: center;
        &.uppercase {
            @include xl(text-transform, none);
        }
        &:after {
            @include xl(width, 100%);
            @include xl(border-radius, 0);
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 85%;
            background-color: #6e8794;
            border-radius: 0 0 50px 0;
        }
    }
    &-item {
        position: relative;
        overflow: hidden;
        & + & {
            margin: 47px 0 0 0;
        }
        .btn-box {
            @include xl(bottom, 160px);
            position: absolute;
            z-index: 100;
            right: 0;
            bottom: 145px;
            left: 0;
            text-align: center;
        }
        .slider-projects-desc {
            box-sizing: border-box;
            position: absolute;
            z-index: 100;
            background-color: $bgMainWithAlpha;
            color: #ffffff;
            > p {
                margin: 0;
                text-align: left;
            }
        }
        &:nth-child(odd) {
            .slider-projects-desc {
                top: 33px;
                width: 490px;
                padding: 39px 25px 40px 82px;
                font-size: 18px;
            }
        }
        &:nth-child(even) {
            .slider-projects-desc {
                top: 58px;
                right: 15%;
                bottom: 74px;
                width: 298px;
                padding: 48px 36px 40px 32px;
            }
        }
        .owl-carousel {
            .owl-dots {
                bottom: 26px;
            }
            .owl-nav {
                .owl-prev, .owl-next {
                    @include xl(background-image, url("../img/slider-nav-mob.png"));
                    @include xl(width, 10px);
                    @include xl(height, 23px);
                    @include xl(top, 50%);
                }
                .owl-prev {
                    @include xl(left, 25px);
                }
                .owl-next {
                    @include xl(right, 25px);
                }
            }
        }
    }
    .slider-projects {
        &-item-desc {
            overflow: hidden;
            background-color: $bgMainWithAlpha;
            &:after {
                display: none;
            }
        }
        .decoration-line {
            width: 85%;
        }
        .owl-nav {
            @include xl(display, block);
            display: none;
            z-index: 100;
        }
        .owl-dots {
            @include xl(bottom, 23px);
        }
    }
}
.interior-categories {
    margin: 42px 0 18px;
    &-box {
        @include xl(margin, 0);
        margin: 0 8rem;
        &-item {
            margin: 0 0 24px 0;
            &.active {
                &:after {
                    opacity: 1;
                }
            }
            a {
                width: 100%;
                font-size: 20px;
                text-align: center;
                background-color: $mainBg;
                padding: 24px 0 25px;
            }
        }
    }
    .row, .col-12, .container {
        @include xl(margin, 0);
        @include xl(padding, 0);
    }
}
.interior-card-slider {
    .favorite-action {
        position: relative;
        top: unset;
        right: unset;
        display: inline-block;
    }
}
