.tabs, .tabs-custom {
    display: block;
    width: 100%;
    overflow: hidden;
    > ul {
        display: flex;
        align-items: stretch;
        margin: 0;
        list-style: none;
        li {
            @include sm(font-size, 12px);
            @include sm(padding, 13px 5px 10px);
            flex-grow: 1;
            padding: 21px 34px 19px;
            cursor: pointer;
            font-size: 20px;
            color: #6e6c66;
            background-color: #e5e1d8;
            text-align: center;
            & + li {
                @include sm(margin, 0 0 0 4px);
                margin: 0 0 0 10px;
            }
            &.active, &:hover {
                color: #ffffff;
                background-color: $mainBg;
                a {
                    color: #ffffff;
                }
            }
        }
    }
}
.tabs-custom {
    > ul {
        > li {
            &:hover {
                a {
                    color: #ffffff;
                }
            }
            a {
                transition: none;
                color: #6e6c66;
            }
        }
    }
}
