footer {
    @include xl(padding, 0 0 60px 0);
    @include xl(overflow, hidden);
    background-color: #2f3130;
    padding: 34px 0 20px;
    color: #ffffff;
    .row {
        align-items: flex-start;

        .col-2, .col-8, .col-3, .col-6 {
            @include xl(width, 100%);
            @include xl(margin, 0);
            height: 100%;
        }
    }
    .our-salons {
        position: relative;
        &:after {
            @include xl(background, rgba(90, 110, 121, .3));
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: -30px;
            height: 80px;
            z-index: -1;
        }
        &-title {
            @include xl(background, none);
            @include xl(font-size, 16px);
            @include xl(padding, 32px 0 32px 15px);
            @include xl(margin, 0);
            @include xl(text-align, center);
            font-size: 16px;
            margin: 31px 0 16px 0;
        }

        ul {
            @include xl(margin, 20px 0 0 0);
            @include xl(display, none);
            list-style: none;

            li {
                font-size: 14px;
                text-align: left;
                line-height: 21px;

                & + li {
                    margin: 21px 0 0 0;
                }
            }
        }
    }

    .footer-first-col, .footer-middle-col {
        height: 100%;
    }

    .footer-first-col {
        @include xl(margin, 0);
        @include xl(display, flex);
        margin: 0 0 0 2.2rem;

        > div {
            @include xl(width, 50%);

            &:first-child {
                @include xl(text-align, center);
            }

            img {
                @include xl(margin, 24px 0 0 0);
                @include xl(max-width, 110px);
                width: 100%;
                max-width: 135px;
            }
        }

        .copyright {
            @include xl(display, none);
            font-size: 13px;
            line-height: 21px;
            margin: auto 0 0 0;
        }
    }

    .footer-middle-col {
        @include xl(margin, 70px 0 0 0);

        > div:nth-child(3) {
            @include xl(display, none);
        }

        .developer {
            @include xl(font-size, 14px);
            font-size: 13px;
            margin: 35px 0 0 0;

            .copyright-mob {
                @include xl(display, block);
                @include xl(margin, 0 0 18px 0);
                display: none;
            }

            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .recall-me {
        text-decoration: underline;

        &:hover {
            cursor: pointer;
            text-decoration: none;
        }
    }

    .btn {
        @include xl(font-size, 18px);
        @include xl(border-radius, 25px);
        display: inline-block;
        margin: 26px 0 37px;
        border: 3px solid #cac1b2;
        text-decoration: none;

        &:hover {
            background-color: #cac1b2;
            border-color: #cac1b2;
        }
    }

    a {
        color: #ffffff;
    }

    .info {
        @include xl(margin, 10px 0 47px);
        font-size: 14px;
        line-height: 21px;
        margin: 26px 0 47px;
    }

    .socials {
        a + a {
            margin: 0 0 0 32px;
        }

        .icon {
            &:hover {
                fill: #fffcf2;
            }
        }
    }

    .footer-menu {
        @include xl(margin, 0);
        @include xl(display, none);
        list-style: none;
        margin: 0 0 0 8rem;

        li {
            a {
                font-size: 16px;
                text-decoration: none;
                text-transform: uppercase;
            }

            & + li {
                margin: 24px 0 0 0;
            }
        }
    }
}
