.why-choose-us {
    @include sm(padding, 36px 0 0 0);
    background-color: $mainBg;
    padding: 123px 0 0 0;
    .section-header {
        @include sm(padding, 0 0 26px 0);
    }
    .section-title {
        color: #ffffff;
        margin: 0;
    }
    .section-sub-title {
        @include sm(margin, 0);
        margin: 11px 96px 51px 0;
    }
    &-slider.owl-carousel {
        position: relative;
        .btn-box {
            .btn {
                display: inline-block;
            }
        }
        .owl-dots {
            @include sm(bottom, 53px);
            @include sm(left, 0);
            @include sm(right, 0);
            @include sm(text-align, center);
            position: absolute;
            bottom: 127px;
            left: 421px;
            button {
                background-color: #e9dfd1;
                &.active {
                    background-color: #989593;
                }
            }
        }
        .owl-nav {
            @include sm(display, block);
            display: none;
            .owl-prev, .owl-next {
                position: absolute;
                top: unset;
                bottom: 47px;
            }
            .owl-prev {
                left: 31px;
            }
            .owl-next {
                right: 31px;
                transform: rotate(180deg);
            }
        }
    }
}
