@font-face {
    font-family: "Pragmatica";
    src: url("../fonts/pragmatica/pragmatica.woff") format("woff"),
        url("../fonts/pragmatica/pragmatica.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Bukvarnaya Bold";
    src: url("../fonts/bukvarnaya-bold-001-001/bukvarnaya-bold-001-001.svg") format("svg"),
        url("../fonts/bukvarnaya-bold-001-001/bukvarnaya-bold-001-001.woff") format("woff"),
        url("../fonts/bukvarnaya-bold-001/bukvarnaya-bold-001-001.woff2") format("woff2"); /* Modern Browsers */
    font-weight: 300;
    font-style: normal;
}
