form {
    justify-content: center;
}
.form-group {
    width: 100%;
    margin: 0 0 13px 0;
    input, .as-input, textarea {
        @include sm(padding, 17px 22px);
        box-sizing: border-box;
        width: 100%;
        border: 1px solid #c6c3bc;
        padding: 20px 22px;
        border-radius: 6px;
        background-color: #ffffff;
        font-size: 14px;
        &:focus {
            outline: none;
        }
    }
    &.two-elements {
        > * {
            @include sm(width, 100%);
            position: relative;
            width: 48%;
            &:last-child:not(textarea) {
                @include sm(margin, 12px 0 0 0);
                margin: 0 0 0 auto;
            }
            .as-input {
                @include sm(order, 1);
            }
        }
        input + .as-input {
            @include sm(margin, 11px 0 0 0);
            margin: 0 0 0 auto;
        }
        textarea {
            width: 100%;
            margin: 13px 0 0 0;
        }
        .label-file {
            display: block;
            color: #000000;
            &:hover {
                cursor: pointer;
            }
        }
    }
    &.personal-data-agree {
        @include sm(flex-wrap, wrap);
        @include sm(margin, 17px 0 24px 28px);
        position: relative;
        margin: 25px 0 0 0;
        text-align: left;
        input[type="checkbox"] {
            display: none;
            & + label {
                &:before {
                    background: url("../img/unchecked.png");
                }
            }
            &:checked + label {
                &:before {
                    background: url("../img/checked.png");
                }
            }
        }
        label {
            @include sm(font-size, 11px);
            color: #333537;
            font-size: 13px;
            &:before {
                content: "";
                position: absolute;
                top: -1px;
                left: -23px;
                width: 17px;
                height: 17px;
            }
        }
        a {
            color: #333537;
        }
    }
    &.with-captcha {
        @include sm(margin, 17px 0 24px 16px);
        > * {
            &:first-child {
                @include sm(width, 100%);
                width: 46%;
            }
            &:last-child {
                @include sm(width, 100%);
                width: 50%;
                margin: 0 0 0 auto;
            }
        }
        img {
            width: auto;
        }
    }
}

.form-cost-calculation {
    .form-group {
        textarea {
            min-height: 114px;
        }
        .as-input {
            @include sm(order, 2);
            padding: 16px 22px;
            background-color: #ece7e3;
        }
        &.two-elements {
            input + .as-input {
                @include sm(margin, 17px 0 0 0);
            }
        }
        &.personal-data-agree label {
            line-height: 15px;
            a {
                color: #ffffff;
            }
        }
    }
    .popup-btn-box {
        margin: 30px 0 0 0;
    }
    .icon-paper-clip {
        fill: #000;
        margin: 0 5px 0 0;
    }
}
.form-cost-calculation-content-box {
    @include sm(padding, 24px 30px 36px);
    @include sm(margin, 0 0 37px 0);
    margin: 0 0 80px 0;
    padding: 60px 0 91px;
    text-align: center;
    background-image: url("../img/form-calc-bg.jpg");
    background-position: center center;
    form {
        @include sm(padding, 30px 16px 23px 16px);
        box-sizing: border-box;
        max-width: 835px;
        margin: 0 auto;
        padding: 39px 120px 51px;
        background-color: rgba(90, 110, 121, 0.6);
        input, textarea {
            border: 1px solid #c6c3bc;
            color: #ffffff;
            background: none;
            &::placeholder {
                color: #ffffff;
            }
            &:focus {
                &::placeholder {
                    color: transparent;
                }
            }
        }
        .form-group {
            .as-input {
                @include sm(background-color, rgba(249, 248, 246, .6));
                background-color: rgba(236, 231, 227, .2);
                .label-file {
                    color: #ffffff;
                    border-radius: 8px;
                    .icon {
                        fill: #fff;
                    }
                }
            }
            &.personal-data-agree label {
                color: #ffffff;
            }
        }
        .btn-submit {
            background: none;
            color: #ffffff;
            border-radius: 25px;
            &:active {
                color: #b5a99d;
            }
        }
    }
}
