form {
    justify-content: center;
    .btn-submit {
        &.is-sent {
            color: transparent;
        }
    }
    .success-message {
        color: #1f1f1f;
    }
}

.form-group {
    width: 100%;
    margin: 0 0 13px 0;

    input, .as-input, textarea {
        @include sm(padding, 17px 22px);
        box-sizing: border-box;
        width: 100%;
        border: 1px solid #c6c3bc;
        padding: 20px 22px;
        border-radius: 6px;
        background-color: #ffffff;
        font-size: 14px;

        &:focus {
            outline: none;
        }
    }

    &.two-elements {
        > * {
            @include sm(width, 100%);
            position: relative;
            width: 48%;

            &:last-child:not(textarea) {
                @include sm(margin, 12px 0 0 0);
                margin: 0 0 0 auto;
            }

            .as-input {
                @include sm(order, 1);
            }
        }

        input + .as-input {
            @include sm(margin, 11px 0 0 0);
            margin: 0 0 0 auto;
        }

        textarea {
            width: 100%;
            margin: 13px 0 0 0;
        }

        .label-file {
            display: block;
            color: #000000;

            &:hover {
                cursor: pointer;
            }
        }
    }

    &.personal-data-agree {
        @include sm(flex-wrap, wrap);
        @include sm(margin, 17px 0 24px 28px);
        position: relative;
        margin: 25px 0 0 0;
        text-align: left;

        input[type="checkbox"] {
            display: none;

            & + label {
                &:before {
                    background: url("../img/unchecked.png");
                }
            }

            &:checked + label {
                &:before {
                    background: url("../img/checked.png");
                }
            }
        }

        label {
            @include sm(font-size, 11px);
            color: #333537;
            font-size: 13px;

            &:before {
                content: "";
                position: absolute;
                top: -1px;
                left: -23px;
                width: 17px;
                height: 17px;
            }
        }

        a {
            color: #333537;
        }
    }

    &.with-captcha {
        @include sm(margin, 17px 0 24px 16px);

        > * {
            &:first-child {
                @include sm(width, 100%);
                width: 46%;
            }

            &:last-child {
                @include sm(width, 100%);
                width: 50%;
                margin: 0 0 0 auto;
            }
        }

        img {
            width: auto;
        }
    }
}

.form-cost-calculation {
    .form-group {
        textarea {
            min-height: 114px;
        }

        .as-input {
            @include sm(order, 2);
            border: none;
            padding: 16px 22px;
            background-color: rgba(238, 231, 228, 0.3);
        }

        &.two-elements {
            input + .as-input {
                @include sm(margin, 17px 0 0 0);
            }
        }

        &.personal-data-agree label {
            line-height: 15px;

            a {
                color: #ffffff;
            }
        }
    }

    .popup-btn-box {
        margin: 30px 0 0 0;
    }

    .icon-paper-clip {
        fill: #000;
        margin: 0 5px 0 0;
        transform: rotate(35deg);
    }
}

.form-cost-calculation-content-box {
    @include sm(padding, 24px 30px 36px);
    @include sm(margin, 0 0 37px 0);
    margin: 0 0 80px 0;
    padding: 105px 0 76px 60px;
    text-align: center;
    background-image: url("../img/form-calc-bg.jpg");
    background-position: center top 45px;
    background-color: $mainBg;
    background-repeat: no-repeat;

    .form-box {
        @include sm(padding, 30px 16px 23px 16px);
        box-sizing: border-box;
        max-width: 835px;
        margin: 0 auto;
        padding: 39px 120px 51px;
        background-color: rgba(90, 110, 121, 0.6);

        .title {
            @include sm(font-size, 30px);
            color: #e9dfd1;
            font-family: "Bukvarnaya Bold", sans-serif;
            font-size: 48px;
            margin: 0 0 10px 0;
        }

        form {
            input, textarea {
                border: 1px solid #c6c3bc;
                color: #ffffff;
                background: none;

                &::placeholder {
                    color: #ffffff;
                }

                &:focus {
                    &::placeholder {
                        color: transparent;
                    }
                }
            }

            .form-group {
                .as-input {
                    @include sm(background-color, rgba(249, 248, 246, .6));
                    background-color: rgba(236, 231, 227, .2);

                    .label-file {
                        color: #ffffff;
                        border-radius: 8px;

                        .icon {
                            fill: #fff;
                        }
                    }
                }

                &.personal-data-agree label {
                    @include sm(text-align, left);
                    @include sm(margin, 0 0 0 25px);
                    color: #ffffff;

                    &:before {
                        @include sm(left, 0);
                    }
                }

                &.with-captcha {
                    @include sm(margin, 17px 0 24px);
                    @include sm(text-align, center);
                }
            }

            .btn-submit {
                background: none;
                color: #ffffff;
                border-radius: 25px;
                &:active {
                    color: #b5a99d;
                }
                &.is-sent {
                    color: transparent;
                }
            }
        }
    }
    .success-message {
        color: #ffffff;
    }
}

.success-message {
    position: relative;
    overflow: hidden;
    margin: 0 0 1rem 0;
    border: 1px solid #c6c3bc;
    border-radius: 6px;
    padding: 1rem 1rem 1rem 4rem;
    line-height: 20px;
    .icon-mood-happy, .icon-mood-sad {
        --primary: #fff;
        position: absolute;
        height: 100%;
        background-color: rgba(236, 231, 227, 0.2);
        padding: 0 .3rem;
        border-right: 1px solid rgba(236, 231, 227, 0.3);
        top: 0;
        bottom: 0;
        left: 0;
        fill: #2f3130;
    }
    ol {
        margin: 0;
        padding: 0;
        li {
            font-size: 13px;
        }
    }
}

.is-sent {
    position: relative;
}

.is-sent:after {
    position: absolute;
    content: "";
    left: calc(50% - 12px);
    top: calc(50% - 16px);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    z-index: 10;
    border-top: 3px solid #eee;
    border-right: 3px solid #eee;
    border-bottom: 3px solid #eee;
    border-left: 3px solid #b5a99d;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: 1.1s linear infinite load8;
    animation: 1.1s linear infinite load8;
}

button[type=submit].is-sent:hover {
    color: transparent;
}

.form-search {
    margin: 0;
    .form-group {
        flex-wrap: nowrap;
        input {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
        button {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            border-top: 1px solid #bdac9a;
            border-right: 1px solid #bdac9a;
            border-bottom: 1px solid #bdac9a;
            border-left: 0;
            padding: 20px 30px 16px;
        }
    }
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.info-msg {
    position: fixed;
    z-index: 9000;
    top: 17%;
    right: 0;
    background-color: $bgMainWithAlpha;
    color: #ffffff;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    .icon-mood-happy, .icon-mood-sad {
        fill: #5a6e79;
    }
}