.icon {
    display: inline-block;
    vertical-align: middle;
    fill: #ffffff;
    transition: all 300ms ease;
}
.icon-insta {
    width: 21px;
    height: 20px;
}
.icon-fb {
    width: 11px;
    height: 21px;
}
.icon-pinterest {
    width: 17px;
    height: 21px;
}
.icon-favorite {
    width: 20px;
    height: 19px;
}
.icon-viber {
    width: 22px;
    height: 23px;
}
.icon-whatsapp {
    width: 22px;
    height: 21px;
}
.icon-telegram {
    width: 20px;
    height: 17px;
}
.icon-search {
    width: 20px;
    height: 20px;
}
.icon-paper-clip {
    width: 19px;
    height: 23px;
}
