.lb-cancel {
    background: url("../img/loading.gif") no-repeat;
}
.lb-nav a.lb-prev {
    @include xl(left, 0);
    background: url("../img/prev.png") left 48% no-repeat;
    left: -60px;
}
.lb-nav a.lb-next {
    @include xl(right, 0);
    background: url("../img/next.png") right 48% no-repeat;
    right: -60px;
}
.lb-data .lb-close {
    background: url("../img/close.png") top right no-repeat;
}
.lb-nav a.lb-prev, .lb-nav a.lb-next {
    opacity: 1;
    position: absolute;
}
