.download {
    @include xl(text-align, left);
    @include xl(font-size, 15px);
    position: relative;
    z-index: 0;
    padding: 28px 0 24px;
    font-size: 20px;
    text-align: center;
    &:before {
        @include xl(border-radius, 0);
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        max-width: 1572px;
        background-color: $mainBg;
        border-radius: 0 0 30px 0;
    }
    .decoration-line {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        max-width: 1572px;
    }
    &.uppercase {
        @include xl(text-transform, none);
    }
    a {
        @include xl(padding, 5px 0 0 31px);
        color: #ffffff;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
.category-list {
    //.container-full {
    //    @include xl(padding, 0);
    //}
    .container-full {
        > .row {
            > [class*=col-] {
                @include size-xl(12);
            }
        }
    }
    &-items {
        @include xl(flex-wrap, wrap);
        @include xl(width, 100%);
        flex-wrap: nowrap;
        .col-4 {
            @include size-xl(12);
        }
        .col-4:first-child {
            .title {
                @include xl(margin, 0);
            }
        }
        .title {
            @include xl(text-align, left);
            @include xl(margin, 16px 0 0 0);
            @include xl(padding, 26px 0 24px 36px);
            @include xl(font-size, 15px);
            @include xl(width, 263px);
            position: relative;
            width: 100%;
            padding: 26px 0 24px;
            background-color: $mainBg;
            font-size: 20px;
            text-align: center;
            &.active:after {
                opacity: 1;
            }
        }
    }
}
.category-products {
    margin: 30px 0 21px 0;
    a {
        display: block;
    }
    &-item {
        margin: 0 0 36px 0;
        .img {
            line-height: 0;
        }
        .info {
            @include xl(font-size, 15px);
            background-color: $mainBg;
            color: #ffffff;
            padding: 25px 29px 24px 27px;
            font-size: 20px;
            border-radius: 0 0 30px 0;
            .price {
                margin: 0 0 0 auto;
            }
        }
    }
}
.types-list {
    @include xl(display, flex);
    @include xl(justify-content, space-between);
    @include xl(flex-wrap, wrap);
    @include xl(width, 100%);
    list-style: none;
    &-item {
        @include xl(margin-top, .5rem);
        @include xl(text-align, center);
        @include xl(display, inline-block);
        @include xl(margin, 2px);
        @include xl(min-width, 76px);
        //@include xl(width, 100%);
        text-align: right;
        //& + & {
        //    @include xl(margin, 0 2px);
        //}
        &.active {
            a {
                @include xl(background-color, $mainBg);
                @include xl(color, #fff);
                color: #2f3130;
            }
        }
        a {
            @include xl(padding, 8px 12px);
            @include xl(background-color, #e5e1d8);
            @include xl(font-size, 12px);
            font-size: 20px;
            color: #7d7d7d;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.collection-full-item {
    @include xl(margin, 0 0 37px 0);
    position: relative;
    line-height: 0;
    margin: 0 0 129px 0;
    img {
        @include xl(min-height, 565px);
    }
    .info {
        @include xl(top, 100px);
        color: #ffffff;
        position: absolute;
        top: 130px;
        right: 0;
        bottom: 100px;
        left: 0;
        .title, .text, .btn-box {
            @include xl(padding, 0 0 0 26px);
            padding: 0 0 0 24%;
            line-height: normal;
        }
        .text, .btn-box {
            max-width: 740px;
        }
        .title {
            @include xl(margin, 0 0 37px 0);
            @include xl(font-size, 28px);
            font-size: 60px;
            font-family: "Bukvarnaya Bold", sans-serif;
        }
        .text {
            @include xl(font-size, 14px);
            @include xl(padding, 34px 10px 35px 29px);
            @include xl(margin, 0 15px 0 0);
            background-color: rgba(90, 110, 121, 0.6);
            padding: 25px 132px 39px 24%;
            font-size: 18px;
            line-height: 26px;
        }
        .btn-box {
            text-align: right;
            margin: 42px 0 0 0;
            .btn {
                margin: 0 100px 0 0;
            }
        }
    }
    .download {
        @include xl(padding, 28px 0);
        padding: 38px 0 30px;
    }
}
